@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;

  margin: 0 auto;
  font-family: "Sofia Sans", sans-serif;
  padding-bottom: 3rem;
}

.div-container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.image-container {
  position: relative;
  display: inline-block; /* Wrap tightly around the image */
}

.image-container img {
  display: block; /* Remove bottom spacing */
  width: 500px; /* Your desired image width */
  height: auto; /* Maintain aspect ratio */
}

.image-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 3rem;
  bottom: 0;
  opacity: 0.2;
  background: radial-gradient(circle, #ff0, transparent 70%);
  mix-blend-mode: screen; /* This will blend the yellow glow with your image */
  pointer-events: none; /* Allows interaction with the image below */
}

.btn-glow:hover {
  box-shadow: 0 0 15px rgba(255, 255, 0, 0.7); /* Yellow glow */
}

.continue_btn {
  border-radius: 3rem;
  margin: 0 auto;
  padding: 1rem 5rem;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  cursor: pointer;
}

.continue_btn:hover {
  opacity: 0.9;
}

.line-break-container {
  display: flex;
  align-items: center; /* Centers the line with the text vertically */
  text-align: center;
}

.line {
  flex: 1; /* Makes the lines grow and fill the space */
  height: 1px; /* Height of the line */
  background-color: #fff; /* Color of the line */
}

.text {
  padding: 0 10px; /* Adds spacing around the text */
}

.confirm_btn {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
}

.flex {
  display: flex;
}

@media screen and (max-width: 1023px) {
  .div-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    align-items: center;
    justify-content: center;

    padding: 3rem 2rem;
  }

  .btn-glow {
    width: 25rem;
    margin: 0 auto;
  }

  .image-container img {
    width: 27rem;
  }
}
